    <div id="tab-removed" class="tab-panel" role="tabpanel" aria-labelledby="btn-removed">
      <div class="overflow-auto">
        <table id="removedJobs">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Schedule</th>
              <th scope="col">Command</th>
              <th scope="col">Last Run</th>
              <th scope="col">Duration</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <p id="removedEmpty" class="empty" style="display:none">No removed jobs.</p>
    </div>
